# MQTT Broker Configuration
MQTT_HOST=192.168.1.1
MQTT_PORT=1883
MQTT_USERNAME=linux_test
MQTT_PASSWORD=pass
MQTT_TLS_ENABLED=false
TOPIC_PREFIX=hmd

# Device Configuration
DEVICE_NAME=Living Room Sensor Box
DEVICE_ID=Linux_Laptop_Host
DEVICE_MANUFACTURER=DIY Project
DEVICE_MODEL=Raspberry Pi 5

# APP Configuration
LOG_LEVEL=INFO
POLLING_INTERVAL=60

# Network Configuration
NETWORK_INTERFACE=wlp7s0

# Service Configuration
SERVICE_SERVICE_NAME=raspberry-monitor-ha

# Sensor activation
# All sensors are enabled by default. To disable a sensor, set its value to false.
# Key must be SENSOR_<sensor_name> where <sensor_name> is the sensor name defined in sensors.py
SENSOR_Session_Count=false

# Button activation
# All buttons are enabled by default. To disable a button, set its value to false.
# Key must be BUTTON_<button_name> where <button_name> is the button name defined in buttons.py

BUTTON_Restart_RP_monitoring=false