[Unit]
Description=Raspberry Pi Monitor for Home Assistant
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=your_username
Group=your_username
WorkingDirectory=/home/your_username/projects/raspberry-monitor-ha/raspberry_monitor_ha
Environment="PATH=/home/your_username/.local/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/your_username/.local/bin/poetry run python3 ./src/raspberry_monitor_ha/main.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target