# MQTT Broker Configuration
MQTT_HOST=192.168.1.1
MQTT_PORT=1883
MQTT_USERNAME=linux_test
MQTT_PASSWORD=pass
MQTT_TLS_ENABLED=false
TOPIC_PREFIX=hmd

# Device Configuration
DEVICE_NAME=Living Room Sensor Box
DEVICE_ID=Linux_Laptop_Host
DEVICE_MANUFACTURER=DIY Project
DEVICE_MODEL=Raspbery Pi 5

# APP Configuration
LOG_LEVEL=INFO
POLLING_INTERVAL=60

# Network Configuration
NETWORK_INTERFACE=wlp7s0